<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
    <script defer src="/script.js"></script>
</head>
<body>
    <div class="spinner-container" id="spinner-container">
        <div class="spinner"></div>
    </div>
    <div class="container">
        <h1>Welcome to the Customer Relationship Management App</h1>
        <a href="/list-people">List People</a><br>
	<br>
	<a href="/list-organizations">List Organizations</a><br>
	<br>
        <a href="/add-person">Add Person</a>
	<a href="/add-organization">Add Organization</>
    </div>
</body>
</html>

